In [3]:
import pandas as pd
df = pd.DataFrame([
    [1, 1.0, 0, 1],
    [0, 0.5, None, 2],
    [1, 0.2, None, 3],
    [1, 3.3, 0, 4],
    [0, 5.7, 0, "cat"],
    [1, 0.0, None, 6],
    [0, 1.9, 0, 7],
    [1, 2.4, 0, "dog"],
    [None, None, None, 9], 
])
df

     0    1    2    3
0  1.0  1.0  0.0    1
1  0.0  0.5  NaN    2
2  1.0  0.2  NaN    3
3  1.0  3.3  0.0    4
4  0.0  5.7  0.0  cat
5  1.0  0.0  NaN    6
6  0.0  1.9  0.0    7
7  1.0  2.4  0.0  dog
8  NaN  NaN  NaN    9

In [4]:
df.dropna()

     0    1    2    3
0  1.0  1.0  0.0    1
3  1.0  3.3  0.0    4
4  0.0  5.7  0.0  cat
6  0.0  1.9  0.0    7
7  1.0  2.4  0.0  dog

In [14]:
# Creating a mixed dataset of strings, floats, and date strings

mix = pd.DataFrame(
    [
        ["cat", 1.0, "3-2021"],
        ["cat", 0.5, "1-2021"],
        ["dog", 0.2, "5-2021"],
        ["bird", 3.3, "3-2021"],
        ["dog", 5.7, "1-2021"],
        ["dog", 0.0, "2-2021"],
        ["cat", 1.9, "4-2021"],
        ["bird", 2.4, "4-2021"],
        ["bird", 2.4, "5-2021"]
    ],
    columns = ["animal", "value", "date"]
)
mix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   animal  9 non-null      object
 1   value   9 non-null      float64
 2   date    9 non-null      object
dtypes: float64(1), object(2)
memory usage: 348.0+ bytes

In [15]:
mix

  animal  value    date
0    cat    1.0  3-2021
1    cat    0.5  1-2021
2    dog    0.2  5-2021
3   bird    3.3  3-2021
4    dog    5.7  1-2021
5    dog    0.0  2-2021
6    cat    1.9  4-2021
7   bird    2.4  4-2021
8   bird    2.4  5-2021

In [17]:
# Changing data types
# e.g changing the animal data type(object) to category
mix.loc[:, "animal"] = mix["animal"].astype("category")
mix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   animal  9 non-null      object
 1   value   9 non-null      float64
 2   date    9 non-null      object
dtypes: float64(1), object(2)
memory usage: 348.0+ bytes

**Normalizing Data**

In [18]:
from sklearn.preprocessing import StandardScaler

In [21]:
scaler = StandardScaler()
scaler.fit(mix[["value"]])
scaler.transform(mix[["value"]])

D:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
D:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
D:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
D:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
D:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
D:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

array([[-0.54744332],
       [-0.84071653],
       [-1.01668045],
       [ 0.80161343],
       [ 2.20932483],
       [-1.13398974],
       [-0.01955155],
       [ 0.27372166],
       [ 0.27372166]])

**Parsing Data Types**

In [22]:
pd.to_datetime(mix.loc[:, "date"])

C:\Users\Dell\AppData\Local\Temp\ipykernel_3220\3972303462.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(mix.loc[:, "date"])

0   2021-03-01
1   2021-01-01
2   2021-05-01
3   2021-03-01
4   2021-01-01
5   2021-02-01
6   2021-04-01
7   2021-04-01
8   2021-05-01
Name: date, dtype: datetime64[ns]

**One-hot Encoding**

In [23]:
pd.get_dummies(mix.animal, prefix = "animal")

   animal_bird  animal_cat  animal_dog
0        False        True       False
1        False        True       False
2        False       False        True
3         True       False       False
4        False       False        True
5        False       False        True
6        False        True       False
7         True       False       False
8         True       False       False